html{
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

body{
    background-color: #2A58C8;
    min-height: 100vh;
    margin: 0;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

h1, h2, h3{
    font-family: 'Heebo', sans-serif;
}

::selection {
    background: #162D66;
    color: #ffffff;
}

::-webkit-scrollbar-thumb:vertical {
    background: #EA4708;
    height: 5px;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: transparent;
}

/**header**/

header {
    margin-top: 10px;
    border-top: #EA4708 solid 10px;
    border-bottom: #EA4708 solid 10px;
    background-color: #162D66;
}

header nav{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5vw 0 1.5vw;
}

.header-logo{
    display: flex;
    text-decoration: none;
}

.header-logo img{
    height:7vw;
}

.header-logo h1{
    margin: 30px 0 0 1vw;
    color: white;
    font-size: 2.5vw;
}

header ul{
    margin-top: 15px;
    display: flex;
}

header li{
    list-style: none;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    color: white;
    font-size: 1.5vw;
    margin: 0;
    text-align: center;
}

/**footer**/

footer{
    background: #162D66;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    margin-top: auto;
    color:#ffffff4d;
}

.footer-logo1{
    width: 8.5vw;
    opacity: 0.3;
}
.footer-logo2{
    text-align: center;
}

.footer-logo2 img{
    width: 4vw;
}

.footer-logo2 p{
    font-size: 13px;
}

.rsn div{
    display: flex;
    flex-direction: row-reverse;
}

.rsn img{
    width: 1.5vw;
    opacity: 0.3;
}

.rsn p{
    margin: 7px;
}

/**main**/

main{
    padding: 0 2vw 1vw 2vw;
}

/**parcourir**/

.parcourir h2{
    color: white;
    text-align: center;
    font-size: 25px;
}

.barre-rechercher::after{
    content: url(/images/bandelore.png);
    position: absolute;
    width: 40vw;
    top : 210px;
    left: 22%;
    z-index: -10;
}

.barre-rechercher div{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #162D66;
    width: 40%;
    padding: 10px;
    border-radius: 20px;
}

.barre-rechercher label{
    color: white;
}

.barre-rechercher input{
    margin-left: 10px;
    border-radius: 20px;
    border: none;
    width: 80%;
}

.barre-rechercher input:focus{
    outline-style: none;
    background-color: #ffffff56;
}

.resultat{
    margin: 50px 50px 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.case{
    background-color: #EA4708;
    border-radius: 20px;
    padding: 20px;
    width: 38vw;
}

.parcourir h3{
    color: white;
    text-align: center;
    margin: 0;
}

.sauveteur-1{
    display: grid;
    grid-template-columns: 75% 25%;
}

.sauveteur-2{
    margin-right: 20px;
}

.sauveteur-3{
    display: flex;
}

.photo-navigateur{
    background-color: #C4C4C4;
    border-radius: 20px;
    padding: 5px;
    margin-right: 20px;
}

.sauveteur-2>p{
    text-align: justify;
}
.sauveteur-4{
    color: white;
    text-align: center;
}

.sauveteur-5{
    text-align: center;
}

.sauveteur-6{
    margin-top: 40px;
    
}

.description1{
    background-color: #C4C4C4;
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.description1 p{
    margin: 0 0 2px 0;
    color: black;
}